[Desktop Entry]
Type=Application
Version=1.0
Name=MyPiliPlus
Comment=PiliPlus is a Bilibili desktop client.
Path=/usr/bin
Exec=mypiliplus %u
Icon=/usr/share/pixmaps/com.example.mypiliplus.png
Terminal=false
Categories=Network;
Keywords=Bilibili;Video;Stream;
StartupWMClass=mypiliplus
MimeType=x-scheme-handler/bilibili;
